.sticky-apply-btn{
  position: fixed;
  bottom: 25px;
  left: 25px;

  background: #2563eb;
  color: white;

  border: none;
  padding: 14px 22px;

  font-size: 15px;
  font-weight: bold;

  border-radius: 50px;

  cursor: pointer;

  box-shadow: 0 4px 12px rgba(0,0,0,0.2);

  z-index: 999;
}

.sticky-apply-btn:hover{
  background:#1d4ed8;
}